{% extends 'base.html' %}
{% block title %}
Profile
{% endblock title %}
{% block content %}


<div class="container  text-light ">
    <h3 class="card-header fw-semibold ">
         Welcome to Flexion Gym
    </h3>
    <br>
    {% comment %} <div class="card-body"> {% endcomment %}
      <h5 class="card-title">🏋️ Here Muscles Meet Chuckles 🏋️</h5>
      <br>
      <br>
      <p class="card-text">Are you tired of those soulless, sterile gyms that feel more like a prison sentence than a place to unleash your inner beast? Look no further, because Flexion Gym is here to rescue you from the clutches of the mundane!</p>

      <h4>🤩 Unleash the Hulk Within:</h4>
<p>At Flexion, we believe that lifting weights should be a hilarious affair. That's why we've transformed the usual 'grunts and groans' of the gym into 'giggles and guffaws.' </p>
<br>
 <h4>💪 Muscle Meets Mirth:</h4>
<p>Get ready to laugh those calories away with our exclusive "Lol-ates" classes, where you'll giggle your way to killer abs. ' </p>
<br>
<h4>🥦 Nutritional Comedy:</h4>
<p>Don't worry, we take nutrition seriously. But we deliver it with a side of witty banter. Our protein shakes come with a dash of punchlines, and our salads make you chuckle as you crunch</p>
<br>
<br>

    </div>
   
  </div>




{% endblock %}