{% extends 'base.html' %}
{% block title %}
Logout
{% endblock title %}
{% block content %}

<div class="card">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Determination fuels your workouts, progress fuels your motivation</p>
        <footer class="blockquote-footer">Thank You for visiting Us <cite title="Source Title">Hope to seen you again :-)</cite></footer>
      </blockquote>
    </div>
  </div>

{% endblock %}